/**
  Community page specific styles
  ---------------------------------------------------------------------- */
.page-template-careers-template {
  background: $white;
  padding-bottom: 4em;

  .site-header {
    background-color: transparent;
    position: absolute;
  }

  .careers-section {
    background-color: $black-almost;
    padding-top: 14rem;
    padding-bottom: 10rem;
    position: relative;
    height: auto !important;
    min-height: 100vh;
    color: $white;

    @include clearfix();

    .section-title,
    .section-sub-title,
    .section-overlay {
      @include columnPadding();
    }

    .section-sub-title {
      width: 50vw;
    }

    .section-content {
      @include columnPadding();

      width: 33vw;
    }

    .accern-overlay-button {
      @include button(outline);

      padding: 1rem 3rem;
    }
  }

  .careers-content {
    @include columnPadding();

    color: $black-almost;
    margin-top: 4em;

    .career-title {
      font-size: 3em;
      font-weight: 700;
      width: auto;
      display: inline-block;
    }

    .career-items-list-wrap {
      @include clearfix();

      margin-top: 2em;

      .career-item {
        background-color: $grey-lightish;
        width: 22%;
        margin: 0 1% 1.5% 0;
        padding: 3em 2em;
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: top;

        &:nth-child(4n+4) {
          margin-right: 0;
        }

        .article-subcat {
          text-transform: uppercase;
          margin-bottom: 15%;
          color: $red-light;
        }

        .article-title {
          font-size: 1.5em;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 0.5em;
        }

        .article-content {
          margin-bottom: 4em;
        }

        .learn-more-link {
          font-weight: 700;
          padding-left: 3em;
          padding-top: 0.7em;
          position: absolute;
          bottom: 5em;
          text-transform: uppercase;

          &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            display: block;
            width: 2.3rem;
            height: 2.3rem;
            opacity: 1;
            background-image: url('../images/download-icon.svg');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &:hover {
          @include transition();

          background: $red-light;
          color: $white;

          .article-subcat {
            color: $white;
          }

          .download-file {
            &::before {
              background-image: url('../images/download-icon-white.svg');
            }
          }
        }
      }
    }

    .careers-apply-now {
      margin-top: 4em;
    }

    .accern-button {
      @include button(white_outline);

      padding: 1rem 3rem;
      color: $black-almost;
      margin-top: 2em;
    }
  }

  #community-career .career-items-list-wrap {
    margin-top: 4em;
  }

  footer {
    position: relative;
  }
}

/* Single Career Styling */
.career-template-default {
  background-image: url('../images/careers-single-back.svg');
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: $black-almost;
  background-position: left top;

  .section-cta {
    @include columnPadding();

    .accern-button {
      @include button(outline);

      padding: 1rem 3rem;
    }
  }

  .site-header {
    background-color: transparent;
    position: absolute;
  }

  #career-main-section,
  #career-content-section {
    padding-top: 14rem;
    padding-bottom: 10rem;
    position: relative;
    height: auto !important;
    min-height: 100vh;

    .section-title,
    .section-sub-title {
      @include columnPadding();
    }

    .section-sub-title {
      width: 55vw;

      &::after {
        display: none;
      }
    }
  }

  #career-content-section {
    @include columnPadding();

    margin: 8em 0 4em;
  }

  footer {
    position: relative;
  }
}
