/**
  Community page specific styles
  ---------------------------------------------------------------------- */
.accern-overlay-content-wrap {
  .wpcf7-form {
    @include grid(space-between, flex-start, row, wrap);

    padding: 0 3em;

    p {
      padding: 0;
    }

    label {
      position: absolute;
      z-index: 1;
      top: 1.25rem;
      font-size: 1rem;
      color: $grey-evil;
      margin: 0;

      @include transition();
    }

    input {
      position: relative;
      z-index: 1;
      margin: 0;
      color: $grey-evil;
    }

    .form-wrap {
      position: relative;
      width: calc(50% - 0.75rem);
      padding-top: 1rem;
      margin-top: 2rem;

      &.is-focused {
        label {
          top: 0.25rem;
          font-size: 0.75rem;
        }
      }
    }

    .wpcf7-submit {
      @include button(red);

      padding: 1rem 3rem;
      line-height: 1;
      margin-top: 4rem;
    }

    .wpcf7-not-valid-tip {
      color: $red-light;
      line-height: 1rem;
      font-size: 0.65rem;

      &::before {
        content: '!';
        position: absolute;
        right: 0;
        top: 0.25rem;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        text-align: center;
        font-family: $font-medium;
      }
    }

    .wpcf7-not-valid {
      border-color: $red-light;
    }
  }
}

.page-template-community-template {
  background: $white;
  padding-bottom: 4em;

  .site-header {
    background-color: transparent;
    position: absolute;
  }

  .community-section {
    background-color: $black-almost;
    padding: 11rem 0;
    position: relative;
    height: auto !important;
    min-height: 100vh;
    color: $white;

    @include clearfix();

    .section-title,
    .section-sub-title,
    .section-overlay {
      @include columnPadding();
    }

    .section-sub-title {
      width: 37.75vw;
      margin: 1.5rem 0 1.75rem;
    }

    .section-content {
      @include columnPadding();

      width: 33vw;
    }

    .accern-overlay-button {
      @include button(outline);

      padding: 1rem 3rem;
    }
  }

  .community-tab-wrapper {
    width: 100%;
    text-align: center;

    ul {
      margin: 3.5em auto;
      max-width: 49em;

      li {
        @include fontBold();

        border-bottom: 2px solid #d8d8d8;
        color: #cacaca;
        display: inline-block;
        list-style: none;
        margin: 0 -0.13em;
        padding: 1.06em 0;
        text-transform: uppercase;
        width: 32%;
        cursor: pointer;

        &.active-tab {
          @include transition();

          border-bottom: $red-light solid 4px;
          color: $black-almost;
          padding: 1em 0;
        }
      }
    }
  }

  .community-content {
    @include columnPadding();

    display: none;
    color: $black-almost;

    &.current-community-tab {
      @include transition();

      display: block;
    }

    .community-title {
      @include fontBold();

      font-size: 3em;
      width: auto;
      display: inline-block;
    }

    .community-search-wrap {
      float: right;
      width: 50vw;
      text-align: right;

      .community-count {
        display: inline-block;
        margin-right: 2em;
        font-size: 1.3em;
        font-style: italic;
        vertical-align: text-top;

        .count-number {
          display: inline-block;
        }
      }

      .community-sort {
        display: inline-block;
        position: relative;
        border: $grey-light solid 1px;
        width: 13em;
        height: 3.3em;
        text-align: left;

        &::before {
          content: '';
          position: absolute;
          z-index: 0;
          top: 1rem;
          right: 0.5rem;
          display: block;
          width: 1rem;
          height: 1rem;
          opacity: 1;
          background-image: url('../images/black-down-arrow.svg');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .form-select-menu {
          @include listStripped();
          @include transition();

          background-color: transparent;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 3rem;
          overflow: hidden;
          transform: translate3d(0, 0, 0);

          li {
            padding: 1rem 0.5rem;
            min-height: 3rem;
            font-size: 0.85rem;
            background-color: $grey-light;
            color: $black-almost;
            cursor: pointer;
            border-bottom: 1px solid $black-almost;

            &:first-child {
              border-bottom: 0;
              color: $grey-light;
            }

            @include transition(all 150ms ease);

            &:hover {
              background-color: $red-light;
              color: $white;
            }

            &.is-selected {
              color: $red-light;

              &:hover {
                color: $white;
              }
            }

            &.form-select-chosen {
              height: 3rem;
              background-color: transparent;
            }

            &.form-select-chosen:hover {
              color: $grey-light;
            }
          }

          &.is-active {
            max-height: 10rem;
            overflow: auto;
            color: $black;
            opacity: 1;
          }
        }

        .form-select-value {
          position: relative;
          z-index: 0;
        }
      }

      .community-search {
        display: inline-block;
        color: $grey-light;
        vertical-align: top;
        width: 40%;
        margin: 0 1em;
        padding-left: 3em;
        position: relative;
        border-bottom: 1px solid #cacaca;

        &::before {
          content: '';
          position: absolute;
          z-index: 0;
          top: 1.2rem;
          left: 0.7rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          opacity: 1;
          background-image: url('../images/search-icon.svg');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        input {
          color: $black-almost;
          height: 3.3em;
          width: 100%;
          padding: 0;
          margin: 0;
          border-bottom: 0;
        }
      }
    }

    hr {
      background-color: $grey-light;
      border: none;
      color: $grey-light;
      height: 1px;
      margin: 4em 0 -0.1em;
      width: 100%;
    }

    .community-items-list-wrap {
      @include clearfix();

      .white-paper-item {
        background-color: $grey-lightish;
        width: 22%;
        margin: 0 1% 1.5% 0;
        padding: 3em 2em;
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: top;

        &:nth-child(4n+4) {
          margin-right: 0;
        }

        .article-subcat {
          text-transform: uppercase;
          margin-bottom: 15%;
          color: $red-light;
        }

        .article-title {
          @include fontBold();

          font-size: 1.3em;
          text-transform: uppercase;
          margin-bottom: 0.5em;
        }

        .article-content {
          margin-bottom: 4em;
        }

        .download-file {
          @include fontBold();

          padding-left: 3em;
          padding-top: 0.7em;
          position: absolute;
          bottom: 5em;
          text-transform: uppercase;

          &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            display: block;
            width: 2.3rem;
            height: 2.3rem;
            opacity: 1;
            background-image: url('../images/download-icon.svg');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &:hover {
          @include transition();

          background: $red-light;
          color: $white;

          .article-subcat {
            color: $white;
          }

          .download-file {
            &::before {
              background-image: url('../images/download-icon-white.svg');
            }
          }
        }
      }

      .education-center-item,
      .media-item {
        width: 100%;
        padding: 2em;
        border-bottom: 1px solid #cacaca;

        .article-title {
          @include fontBold();

          font-size: 1.5em;
          margin-bottom: 0.5em;
        }

        .article-author {
          display: inline-block;
          padding-right: 1em;
        }

        .article-tags {
          display: inline-block;
          color: $red-light;
        }

        .article-post-date {
          float: right;
          color: $grey-light;
          margin-top: -1em;
        }

        .article-thumbnail {
          width: 100%;
          max-width: 21em;
          max-height: 10em;
          overflow: hidden;
          display: inline-block;
        }

        .article-information {
          display: inline-block;
          vertical-align: top;
          margin: 2em 1em;

          .article-date {
            color: $grey-light;
            text-transform: uppercase;
            margin-bottom: 1.5em;
          }
        }

        &:hover {
          background-color: $grey-lightish;
        }
      }

      .media-item:hover {
        .article-title {
          color: $red-light;
        }
      }
    }
  }

  #request-access {
    display: none;
  }

  #community-white .community-items-list-wrap {
    margin-top: 4em;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 600px) {
  .page-template-community-template {
    .accern-overlay-content-wrap {
      .wpcf7-form {
        .form-wrap {
          width: 100%;
        }
      }
    }

    .community-section {
      .section-sub-title {
        width: 57.75vw;
      }
    }

    .community-tab-wrapper {
      overflow: scroll;

      ul {
        max-width: 200%;
        margin-left: -1em;
        width: 200%;

        li {
          width: 33%;
        }
      }
    }

    .community-content {
      .community-search-wrap {
        width: 100%;
        margin: 2em 0 5em;
        display: table;

        .community-count {
          display: table-footer-group;
          margin: 0;
          text-align: left;
          font-size: 2em;
        }

        .community-sort {
          width: 100%;
        }

        .community-search {
          width: 100%;
          margin: 2em 0;
        }
      }

      .community-items-list-wrap {
        .white-paper-item {
          width: 100%;

          .article-title {
            font-size: 2em;
          }

          .article-content {
            font-size: 1.3em;
          }
        }

        .education-center-item {
          a {
            display: table;

            .article-title {
              margin: 1em 0 0;
            }

            .article-author {
              margin: 1em 0;
            }

            .article-post-date {
              display: table-header-group;
              float: none;
            }
          }
        }
      }
    }
  }
}
