/**
  Contact page specific styles
  ---------------------------------------------------------------------- */
.page-template-contact-template {
  .site-content {
    @include grid(space-between, stretch);

    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
  }

  .section-title {
    font-size: 3.25rem;
    color: $white;
    text-transform: none;
    margin-bottom: 1rem;

    &::before {
      display: none;
    }
  }

  .section-content {
    margin-bottom: 0;
  }

  .site-footer {
    position: static;
    transform: translateY(0);
    background-color: $black;
  }
}

/**
  Locations Column
  ---------------------------------------------------------------------- */
#contact-locations-section {
  padding: 20vh 4vw 2rem 4vw;
  min-width: 39vw;
  background-image: url('../images/bg-block.svg');
  background-position: right center;
  background-size: 10px auto;
}

.location-wrap {
  margin: 2rem 0 1rem 0;

  h2 {
    font-size: 1.75rem;
    font-family: $font-medium;
    margin-bottom: 0.75em;
  }

  p {
    padding-bottom: 0;
  }
}

/**
  Contact Form Column
  ---------------------------------------------------------------------- */
#contact-form-section {
  padding: 20vh 12vw 2rem 4vw;
  flex-grow: 1;

  .wpcf7-form {
    @include grid(space-between, flex-start, row, wrap);

    .wpcf7-response-output {
      display: none !important;
    }

    label {
      position: absolute;
      z-index: 1;
      top: 1.25rem;
      font-size: 1rem;
      color: $grey-evil;
      margin: 0;

      @include transition();
    }

    .form-wrap {
      position: relative;
      width: calc(50% - 0.75rem);
      padding-top: 1rem;
      margin-top: 2rem;

      &.is-focused label {
        top: 0.25rem;
        font-size: 0.75rem;
      }
    }

    select,
    input {
      position: relative;
      z-index: 1;
      margin: 0;
    }

    button {
      @include button(red);

      padding: 1rem 3rem;
      line-height: 1;
      margin-top: 4rem;
    }

    .wpcf7-not-valid-tip {
      color: $red-light;
      line-height: 1rem;
      font-size: 0.65rem;

      &::before {
        content: '!';
        position: absolute;
        right: 0;
        top: 0.25rem;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        text-align: center;
        font-family: $font-medium;
      }
    }

    .wpcf7-not-valid {
      border-color: $red-light;
    }
  }
}

#form-wrap-other {
  opacity: 0;
  max-height: 1px;
  overflow: hidden;
  transform: translateX(2rem);
  transition: opacity 350ms ease, transform 350ms ease, max-height 0s ease 350ms;

  &.is-active {
    opacity: 1;
    max-height: 200px;
    transform: translateX(0);
    transition: opacity 350ms ease, transform 350ms ease, max-height 0s ease;
  }
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;

  &.your-firm-type::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    opacity: 0.3;
    background-image: url('../images/icon-arrow-down.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/**
  Confirmation Message
  ---------------------------------------------------------------------- */
#contact-confirmation {
  width: 60%;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 50ms ease, opacity 500ms ease;
  transform-origin: top;
  position: absolute;

  &.active-message {
    opacity: 1;
    transform: scaleY(1);
    position: relative;
  }

  .thank-you-title {
    font-size: 3.25rem;
    margin: 1em 0 2rem 0;

    @include fontBold();
    @include grid(flex-start, center);

    &::before {
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      background-image: url('../images/icon-check-circle-green.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  .thank-you-content {
    line-height: 1.5;
  }

  .thank-you-cta {
    @include button(red);

    padding: 1rem 0.5rem;
    margin-top: 4rem;
    font-family: $font-medium;
  }
}

#contact-form-section.message-sent {
  .section-title,
  .section-content,
  .section-form {
    display: none;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  #contact-form-section {
    padding-right: 4vw;
  }
}

@media (max-width: 1024px) {
  .page-template-contact-template {
    .site-content {
      display: block;
    }

    .section-title {
      font-family: $font-medium;
      font-size: 2.5rem;
    }
  }

  #contact-locations-section,
  #contact-form-section {
    padding: $sectionMobilePadding;
    width: 100%;
  }

  #contact-confirmation {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #contact-form-section {
    .wpcf7-form {
      .form-wrap {
        width: 100%;
      }

      button {
        margin-top: 1rem;
      }
    }
  }

  #contact-confirmation .thank-you-title {
    font-size: 2.5rem;
  }
}
