.page-template-contact-template {
  .site-content {
    @include grid(flex-start, center);
    @include columnPadding;

    min-height: 100vh;
    width: 100%;
  }

  .site-footer {
    transform: translateY(0);
    background-color: $black;
  }
}

#contact-form-section {
  padding-right: 12vw;
  width: 100%;

  .section-title {
    font-size: 3.5rem;
    color: $white;
  }
}

#contact-locations-section {
  width: 39vw;
}
