/**
  Home page specific styles
  ---------------------------------------------------------------------- */
.page-template-homepage-template {
  .main-visualization,
  .main-visualization__scene {
    position: fixed;

    &::before,
    &::after {
      position: fixed;
    }
  }

  .site-header {
    background-color: transparent;
  }
}

.homepage-section {
  @extend %section-container;

  width: 50%;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 42vw;
    height: 100%;
    background: linear-gradient(to right, $black 0%, rgba(0, 0, 0, 0) 100%);
  }

  .accern-overlay-button,
  .accern-button {
    @include button(outline);

    margin-bottom: 1rem;
  }

  .home-case-link-wrap .accern-overlay-button {
    margin: 0;
    padding: 1rem 3rem;
  }

  &#home-section-1 {
    .accern-overlay-button {
      @include button(red);

      transform-origin: left;
    }
  }

  & > div {
    position: relative;
    z-index: 1;
  }
}

#home-section-cases {
  width: 100%;

  .section-title {
    margin-bottom: 0;
  }
}

.home-case-link-wrap {
  @include grid(flex-start, center);

  .home-case-link {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 2rem 1rem 2rem 0;
    color: $grey-evil;

    @include fontBold();
    @include transition();
  }

  .accern-button {
    opacity: 0;
    transform: translateX(1rem);

    @include transition();
  }

  &:hover {
    .home-case-link {
      color: $white;
    }

    .accern-button {
      margin: 0;
      padding: 1rem 3rem;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1330px) {
  .home-case-link-wrap .home-case-link {
    font-size: 3.5rem;
  }
}

@media (max-width: 1100px) {
  .homepage-section {
    width: 80%;
  }

  .home-case-link-wrap .home-case-link {
    font-size: 3rem;
  }
}

@media (max-width: 960px) {
  .homepage-section {
    width: 100%;

    &::before {
      display: none;
    }
  }

  #home-section-cases .section-title {
    margin-top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 1.5rem;
  }

  .home-case-link-wrap {
    width: 100%;

    @include grid(flex-start, stretch, column);

    .home-case-link {
      position: relative;
      width: 100%;
      font-size: 1.5rem;
      padding: 1em 2em 1em 0;
      margin: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: $white;
      font-family: $font-medium;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        background-image: url('../images/icon-arrow-down.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .section-cta {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .home-case-link-wrap .home-case-link {
    font-size: 1.25rem;
  }

  .homepage-section#home-section-1 .accern-overlay-button {
    margin-bottom: 0;
  }
}
