.homepage-section {
  @extend %section-container;

  width: 50%;

  .accern-overlay-button {
    @include button(outline);

    margin-bottom: 1rem;
  }

  &#home-section-1 {
    .accern-overlay-button {
      @include button(red);

      transform-origin: left;
    }
  }
}
