/**
  Use Cases page specific styles
  ---------------------------------------------------------------------- */
.usecase-section {
  background-color: $black-almost;
  padding-top: 8rem;
  padding-bottom: 10rem;
  position: relative;
  height: auto !important;
  min-height: 100vh;

  @include clearfix();

  .section-title,
  .section-sub-title,
  .usecase-tab-content {
    @include columnPadding();
  }

  .section-sub-title {
    width: 100%;
    font-size: 3.5rem;

    &::after {
      color: $white;
    }
  }

  &:nth-child(odd) {
    background-color: $white;
    color: $black-almost;

    .section-title::before {
      background-image: url('../images/icon-dotline-grey.svg');
    }

    .section-sub-title {
      color: $black-almost;

      &::after {
        color: $black-almost;
      }
    }
  }
}

/**
  Dot Navigation & Header Style Toggles
  ---------------------------------------------------------------------- */
$whitePages: 3 5 7 9 11 13 15 17;

@each $id in $whitePages {
  .page-template-use-case-template.current-section-id-#{$id} {
    .nav-icons ul li::before {
      background-color: $black-almost;
    }

    .nav-icons ul li.current-section::before {
      background: $red-light;
    }

    .nav-icons .nav-page-name {
      color: $black-almost;
    }

    .site-header {
      background-color: $black-almost;
    }
  }
}

/**
  Heading Section
  ---------------------------------------------------------------------- */
#usecase-main-section {
  @extend %section-container;

  background-image: url('../images/bg-redwaves.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh !important;

  .section-title {
    color: $white;

    &::before {
      background-image: url('../images/icon-dotline.svg') !important;
    }
  }

  .section-sub-title {
    width: 50vw;
    margin: 0;
    font-size: 4rem;
    color: $white;

    &::after {
      color: $red-light;
    }
  }

  #scroll-down-one {
    color: $white;
  }
}

/**
  Tab Column Styles
  ---------------------------------------------------------------------- */
.use-case-content-wrap {
  @include clearfix();

  padding-right: $sectionColumn;
  max-height: 0;
  overflow: hidden;

  @include transition(all 1s ease-in-out);

  &.active-tab {
    max-height: 300vh;
  }

  h2 {
    font-family: $font-bold;
    font-size: 2.5rem;
  }

  h4,
  h4 b {
    font-family: $font-medium;
    font-size: 1.75rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  hr {
    height: 0;
    border: 1px dashed $grey;
  }

  .use-case-left {
    @include columnWidth(5);

    float: left;
  }

  .use-case-right {
    @include columnWidth(5);

    float: right;
  }
}

/**
  Tab Styles
  ---------------------------------------------------------------------- */
.usecase-tabs {
  @include listStripped();
  @include grid(center, stretch);

  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .tab-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex: 1 0 0;
    padding: 1.25rem 1rem;
    min-height: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: transparentize($white, 0.7);
    font-family: $font-medium;
    cursor: pointer;

    @include grid(center, center);
    @include transition();

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% + 5px);
      background-color: transparentize($white, 0.7);
      border-top: 5px solid $red-light;

      @include transition();
    }

    &.current-tab {
      color: $white;

      &::before {
        bottom: -100%;
      }
    }

    &:hover {
      color: $white;
    }

    &.single-tab {
      display: none;
    }
  }
}

.usecase-section:nth-child(odd) .tab-item {
  color: transparentize($black-almost, 0.7);

  &::before {
    background-color: transparentize($black-almost, 0.7);
  }

  &.current-tab {
    color: $black-almost;
  }

  &:hover {
    color: $black-almost;
  }
}

/**
  Graph Styles
  ---------------------------------------------------------------------- */
.usecase-graph-wrap {
  margin-bottom: 3rem;
}

.usecase-graph-single {
  display: block;
  margin-bottom: 1rem;

  @include grid(flex-start, center);
}

.use-case-graph-text {
  font-size: 0.65rem;
  line-height: 1;
  padding-left: 1rem;
  white-space: nowrap;
}

.usecase-graph {
  height: 0.55rem;

  &-first {
    background-color: $red-light;

    & + .use-case-graph-text {
      color: $red-light;
    }
  }
}

.usecase-graph-second {
  background-color: transparentize($white, 0.85);

  & + .use-case-graph-text {
    color: transparentize($white, 0.6);
  }
}

.usecase-section:nth-child(odd) .usecase-graph-second {
  background-color: transparentize($black-almost, 0.85);

  & + .use-case-graph-text {
    color: transparentize($black-almost, 0.4);
  }
}

.usecase-graph-content {
  font-size: 0.65rem;
  line-height: 1.25;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

/**
  Final Panel Layout
  ---------------------------------------------------------------------- */
#usecase-last-section .usecase-tabs {
  bottom: 4rem;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .page-template-use-case-template {
    .section-title {
      margin-top: 0;
    }

    .use-case-content-wrap {
      padding-right: 0;
    }

    #usecase-main-section .section-sub-title {
      width: 100%;
    }
  }

  .use-case-content-wrap .use-case-left,
  .use-case-content-wrap .use-case-right {
    float: none;
    width: 100%;
  }
}

@media (max-width: 960px) {
  .page-template-use-case-template {
    .section-sub-title {
      font-size: 2.5rem !important;
    }

    .site-header {
      background-color: transparent;
      margin-top: 0;
    }
  }
}
