/**
  WebGL Animations
  ---------------------------------------------------------------------- */
.main-visualization,
.main-visualization__scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-visualization__scene {
  overflow: hidden;
  background: $black;

  & > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-visualization__overlays {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

// Responsive Breakpoints for this Section
@media screen and (max-width: 480px) {
  .main-visualization__overlays {
    top: 4rem;
    width: 80%;
    max-height: 375px;
  }
}

/**
  Overlay Positions
  ---------------------------------------------------------------------- */
.info-overlay {
  position: absolute;
  min-width: 25vw;

  &--top-right {
    top: 18vh;
    right: 14.5vw;
  }

  &--top-center {
    top: 23vh;
    right: 34vw;
  }

  &--bottom-right {
    bottom: 9.5vh;
    right: 14.5vw;
  }

  &--bottom-center {
    bottom: 19vh;
    right: 27vw;
  }
}

/**
  Overlay Header
  ---------------------------------------------------------------------- */
.info-overlay__leader-anchor {
  position: absolute;
  top: 50%;
  left: 2px;
  margin: -1px 0 0 -1px;
  width: 2px;
  height: 2px;
}

.info-overlay__header {
  position: relative;
  margin-bottom: 0.75rem;
  filter: drop-shadow(0 0 0.15rem $white);

  &__background {
    position: absolute;
    z-index: 1;
    background-color: $white;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    clip-path: polygon(calc(100% - 0.75rem) 1%, 100% 0.75rem, 100% 100%, 0 100%, 0 0);
  }

  &__background-fill,
  &__background-corner,
  &__background-corner-fill {
    display: none;
  }
}

.info-overlay__header__content {
  padding: 0.5rem 20% 0.5rem 1rem;
  background-color: $grey-trans;
  border: 1px solid $white;
  clip-path: polygon(calc(100% - 0.75rem) 1%, 100% 0.75rem, 100% 100%, 0 100%, 0 0);
}

.info-overlay__title {
  font-size: 0.65rem;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;

  @include fontBold(false);
}

/**
  Overlay Content
  ---------------------------------------------------------------------- */
.info-overlay__content {
  position: relative;
  font-size: 0.85rem;
  background-color: $grey-trans;
  clip-path: polygon(100% 0, 100% 100%, 0.75rem 100%, 0 calc(100% - 0.75rem), 0 0);

  &__background-fill,
  &__background-corner,
  &__background-corner-fill {
    display: none;
  }
}

.info-overlay__list {
  @include listStripped();

  position: relative;
  padding: 0.75rem 1rem;

  .info-overlay__list-item {
    @include grid();
  }
}

.info-overlay__info {
  font-family: $font-light;

  b {
    font-family: $font-medium;
    margin-right: 0.25rem;
  }
}

.info-overlay__list--icons .info-overlay__list-item {
  width: 100%;
  margin: 0.5rem 1rem;

  @include grid();
}

/**
  Overlay Icons
  ---------------------------------------------------------------------- */
.info-overlay__list--icons {
  @include grid(space-between, center);

  padding: 1rem 1.5rem;
}

.info-overlay__icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 100%;

  &--ibm {
    background-image: url('../images/logo-ibm.svg');
  }

  &--moodys {
    background-image: url('../images/logo-moodys.svg');
  }

  &--jpmorgan {
    background-image: url('../images/logo-jpmorgan.svg');
  }

  &--walmart {
    background-image: url('../images/logo-walmart.svg');
  }

  &--dow {
    background-image: url('../images/logo-dowjones.svg');
  }

  &--wordpress {
    background-image: url('../images/logo-wordpress.svg');
  }

  &--tumblr {
    background-image: url('../images/logo-tumblr.svg');
  }

  &--facebook {
    background-image: url('../images/logo-facebook.svg');
  }

  &--twitter {
    background-image: url('../images/logo-twitter.svg');
  }

  &--grid {
    background-image: url('../images/icon-grid.svg');
  }

  &--plus {
    background-image: url('../images/icon-plus.svg');
  }

  &--arrow {
    background-image: url('../images/icon-arrow-down.svg');
  }
}

.info-overlay__list--info .info-overlay__icon {
  margin-right: 1rem;
  width: 1rem;
}

.info-overlay__list-item--compact .info-overlay__icon {
  width: 0.75rem;
  margin: 0.25rem 1.125rem 0.25rem 0.125rem;
}

/**
  Enter/Exit Animations
  ---------------------------------------------------------------------- */
.overlay-enter-active .info-overlay__header {
  animation: overlay-flicker-in 0.5s both;
}

.overlay-enter-active .info-overlay__content {
  animation: overlay-flicker-in 0.5s 0.12s both;
}

.overlay-leave-active .info-overlay__header {
  animation: overlay-flicker-in 0.5s 0.12s reverse both;
}

.overlay-leave-active .info-overlay__content {
  animation: overlay-flicker-in 0.5s reverse both;
}

@keyframes overlay-flicker-in {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }

  10% {
    opacity: 0.3;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.4;
  }

  40% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.55;
  }

  70% {
    opacity: 0.25;
  }

  80% {
    opacity: 0.85;
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/**
  WebGL Animations (Unmodified Code)
  ---------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  .info-overlay--top-center,
  .info-overlay--top-right {
    top: 10px;
    right: 10px;
  }

  .info-overlay--bottom-center,
  .info-overlay--bottom-right {
    bottom: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .info-overlay__header {
    margin-bottom: 8px;
  }

  .info-overlay__header__background {
    width: 50px;
  }
}

.info-overlay__icon--api {
  width: 30px;
  background-image: url(/static/img/api.1c30611.png);
  background-size: 30px auto;
}

.info-overlay__icon--circuit {
  width: 30px;
  background-image: url(/static/img/circuit.4e95d66.png);
  background-size: 30px auto;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1440px) {
  .info-overlay__list--icons .info-overlay__list-item {
    margin: 0.5rem;
  }
}

@media (max-width: 1024px) {
  .info-overlay__list--icons .info-overlay__list-item {
    margin: 0.25rem;
  }

  .info-overlay {
    min-width: 40vw;
  }

  .info-overlay--top-center {
    right: 20vw;
  }

  .info-overlay--bottom-center {
    right: 15vw;
  }
}

@media (max-width: 960px) {
  .main-visualization,
  .main-visualization__scene {
    height: 63vh;
  }

  .main-visualization {
    &::before {
      content: '';
      display: block;
      position: fixed;
      z-index: 998;
      top: 5rem;
      left: 0;
      width: 100%;
      height: 15vh;
      background-image: $black-grad;
    }

    &::after {
      content: '';
      display: block;
      position: fixed;
      z-index: 998;
      top: calc(63vh - 6.5rem);
      left: 0;
      width: 100%;
      height: 6rem;
      background-image: $black-grad;
      transform: rotate(180deg);
      opacity: 0.8;
    }
  }

  .info-overlay {
    display: none;
  }
}
