/**
  Button Style Mixin
  ---------------------------------------------------------------------- */
@mixin button($color) {
  display: inline-block;
  position: relative;
  padding: 1rem 1.75rem;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;

  @include transition();

  @if ($color == red) {
    background-color: $red-light;
    background-image: none;

    &::after {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-right: 2px dotted $red-light;
      border-left: 2px dotted $red-light;
      width: 100%;
      height: 100%;
      background-image: none;

      @include transition();
    }

    &:hover {
      transform: scale(0.99);
      opacity: 0.95;

      &::before {
        transform: scale(1.15);
        opacity: 0;
      }
    }
  }

  @else if ($color == outline) {
    background-color: transparent;
    border: 1px solid $grey-trans;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;

      @include transition();
    }

    &::before {
      background-image: url('../images/button-outline-left.svg');
      background-position: left center;
    }

    &::after {
      background-image: url('../images/button-outline-right.svg');
      background-position: right center;
    }

    &:hover {
      background-color: $red-light;
      border-color: $red-light;
      transform: scale(0.99);
      opacity: 0.95;

      &::before,
      &::after {
        opacity: 0;
      }
    }
  }
}
