/**
  Shared Section Element Styles
  ---------------------------------------------------------------------- */
$sectionColumn: 6.5vw;
$sectionGutter: 1.25vw;
$sectionOffset: 6.25vw;
$sectionRemain: 2vw;
$sectionMobilePadding: 6rem 1.5rem 4rem 1.5rem;

%section-container {
  @include grid(center, flex-start, column);
  @include columnPadding();

  position: relative;
}

%section-dashes {
  &::before {
    content: '';
    display: block;
    margin-right: $sectionGutter;
    width: $sectionColumn;
    height: 2em;
    background-image: url('../images/icon-dotline.svg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.section-title {
  @include grid(flex-start, center);
  @include fontBold();

  color: $red;
  text-transform: uppercase;
  margin: 1em 0;

  @extend %section-dashes;
}

.section-sub-title {
  @include columnWidth(4);
  @include fontBold();

  margin: 1.5rem 0 4.75rem 0;
  color: $white;
  font-size: 4rem;
  line-height: 1.25;

  &::after {
    content: '.';
    display: inline;
    color: $red-light;
    margin-left: -0.25em;
  }
}

.section-content {
  line-height: 1.5;

  strong {
    display: block;
    margin: 1rem 0;
  }
}

/**
  Scroll Down Button
  ---------------------------------------------------------------------- */
#scroll-down-one {
  position: absolute;
  bottom: 2.5rem;
  left: 50vw;
  font-size: 0.75rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 350ms ease, color 350ms ease;

  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% + 1rem);
    left: 0;
    display: block;
    width: 100%;
    height: 3rem;
    background-image: url('../images/icon-dotline-vert.svg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateY(-100%);

    @include transition();
  }

  &:hover {
    color: $red;

    &::before {
      bottom: calc(100% + 0.5rem);
    }
  }
}

.currently-active-section #scroll-down-one {
  opacity: 1;
  transition: opacity 500ms ease 2s, color 350ms ease;

  &::before {
    transform: translateY(0);
  }
}

/**
  Responsive Breakdown
  ---------------------------------------------------------------------- */
@media (max-width: 1600px) {
  .section-sub-title {
    width: 35vw;
  }
}

@media (max-width: 1330px) {
  .section-sub-title {
    font-size: 3rem;
  }
}

@media (max-width: 960px) {
  %section-container {
    padding: $sectionMobilePadding;
  }

  %section-dashes {
    &::before {
      width: 3rem;
      height: 0.25rem;
      background-size: cover;
    }
  }

  #scroll-down-one {
    display: none;
  }

  .section-title {
    margin: auto 0 0 0;
  }

  .section-sub-title {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 1em;
    font-family: $font-medium;
  }
}

@media (max-width: 600px) {
  .section-sub-title {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1em;
    font-family: $font-medium;
  }
}
