/**
  Shared Section Element Styles
  ---------------------------------------------------------------------- */
%section-container {
  @include grid(center, flex-start, column);
  @include columnPadding();

  position: relative;
}

%section-dashes {
  &::before {
    content: '';
    display: block;
    margin-right: $sectionGutter;
    width: $sectionColumn;
    height: 2em;
    background-image: url('../images/icon-dotline.svg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.section-title {
  @include grid(flex-start, center);
  @include fontBold();

  color: $red;
  text-transform: uppercase;
  margin: 1em 0;

  @extend %section-dashes;
}

.section-sub-title {
  @include columnWidth(4);
  @include fontBold();

  margin: 1.5rem 0 4.75rem 0;
  color: $white;
  font-size: 4rem;
  line-height: 1.25;
}
