/**
  Global Body & Wrappers
  ---------------------------------------------------------------------- */
html,
body {
  max-width: 100%;
}

body {
  background-color: $black;
  color: $white;
}

.wrap {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

/**
  Global Link Defaults
  ---------------------------------------------------------------------- */
a {
  text-decoration: none;
}

@include linkColor($white, all);

/**
  Wordpress Image ALignment
  ---------------------------------------------------------------------- */
.aligncenter {
  margin: 1em auto;
}

.alignleft {
  margin: 1em 1em 1em 0;
}

.alignright {
  margin: 1em 0 1em 1em;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
