/**
  Custom Field Styling
  ---------------------------------------------------------------------- */
.accern-admin-label {
  font-size: 0.65rem;
  margin: 0.5rem 0 0 0;
  padding: 0.25em 0.5em;
  line-height: 1;
  display: inline-block;
  background-color: $admin-border;
  color: $grey-evil;
  text-transform: uppercase;
  font-family: $font-medium;
  border-radius: 0.25rem 0.25rem 0 0;

  & + input {
    display: block;
    margin: 0;
    width: 100%;
  }
}

.accern-text-field {
  margin-bottom: 1rem;
  width: 50%;
  padding: 0 1rem;
}

.accern-overlay-field {
  @include clearfix();

  border-top: 1px solid $admin-border;
  padding: 0.5rem 1rem;
}

.accern-link-field {
  position: relative;
  padding: 1rem;
  margin: 0.5rem 0;
  border-top: 1px solid $admin-border;
}
