$white: #fff;
$grey-trans: rgba(51, 51, 51, 0.9);
$grey-sheer: rgba(255, 255, 255, 0.15);
$grey: #333;
$grey-evil: #666;
$black-almost: #080b10;
$black: #000;
$black-grad: linear-gradient(to bottom, $black 0%, rgba(0, 0, 0, 0) 100%);
$red: #c81b1a;
$red-light: #f44336;
