/**
  Link Coloring in all States
  ---------------------------------------------------------------------- */
@mixin linkArrayStatic($color: inherit, $el: a) {
  #{$el},
  #{$el}:link,
  #{$el}:visited {
    color: $color;
  }
}

@mixin linkArrayHover($color: inherit, $el: a) {
  #{$el}:hover,
  #{$el}:focus,
  #{$el}:active {
    color: $color;
  }
}

@mixin linkColor($color: inherit, $state: all, $el: a) {
  @if $state == all {
    @include linkArrayStatic();
    @include linkArrayHover();
  }

  @else if $state == static {
    @include linkArrayStatic();
  }

  @else if $state == hover {
    @include linkArrayHover();
  }
}

/**
  Strip lists to use semantically, but without the styles
  ---------------------------------------------------------------------- */
@mixin listStripped($display: block, $margin: 0, $padding: 0) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;

  li {
    display: $display;
    margin: 0;
    padding: 0;
  }
}

/**
  Quickly adhere to the 12 column grid
  ---------------------------------------------------------------------- */
$sectionColumn: 6.5vw;
$sectionGutter: 1.25vw;
$sectionOffset: 6.25vw;
$sectionRemain: 2vw;

@mixin columnWidth($count) {
  width: #{($sectionColumn * $count) + ($sectionGutter * ($count - 1))};
}

@mixin columnPadding() {
  padding: 0 $sectionRemain 0 $sectionOffset;
}
