/**
  Link Coloring in all States
  ---------------------------------------------------------------------- */
@mixin linkArrayStatic($color: inherit, $el: a) {
  #{$el},
  #{$el}:link,
  #{$el}:visited {
    color: $color;
  }
}

@mixin linkArrayHover($color: inherit, $el: a) {
  #{$el}:hover,
  #{$el}:focus,
  #{$el}:active {
    color: $color;
  }
}

@mixin linkColor($color: inherit, $state: all, $el: a) {
  @if $state == all {
    @include linkArrayStatic();
    @include linkArrayHover();
  }

  @else if $state == static {
    @include linkArrayStatic();
  }

  @else if $state == hover {
    @include linkArrayHover();
  }
}

/**
  Strip lists to use semantically, but without the styles
  ---------------------------------------------------------------------- */
@mixin listStripped($display: block, $margin: 0, $padding: 0) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;

  li {
    display: $display;
    margin: 0;
    padding: 0;
  }
}

/**
  Easily Style Nav Menus
  ---------------------------------------------------------------------- */
@mixin navMenu($style) {
  @if $style == dropdown {
    ul {
      @include listStripped();

      li {
        position: relative;
        float: left;

        a {
          display: block;
          white-space: nowrap;
        }

        & > ul {
          display: none;
          position: absolute;
          min-width: 100%;
          z-index: 999;

          li {
            display: block;
            float: none;
            position: relative;
          }

          ul {
            left: 100%;
            top: 0;

            li a {
              min-width: 100%;
            }
          }
        }

        &:hover > ul {
          display: block;
        }
      }
    }
  }

  @else if $style == vertical {
    ul {
      @include listStripped();
    }
  }

  @else if $style == horizontal {
    ul {
      @include listStripped(inline-block);
    }
  }
}
